---
import TwitchEmbed from "./TwitchEmbed";
import SocialIcons from "./SocialIcons.astro";
---

<div
    class="flex min-h-screen w-full flex-1 flex-row items-center justify-between gap-0 px-2 md:px-16"
>
    <div class="flex w-full flex-col items-start gap-4 lg:w-1/2">
        <div class="flex flex-col gap-2">
            <h1
                class="text-center font-serif text-5xl text-primary md:text-8xl lg:text-8xl 2xl:text-9xl"
            >
                Wendilunar
            </h1>
        </div>

        <p class="mb-8 text-lg font-normal text-foreground/40">Queen Yap of Yapperland</p>

        <SocialIcons size="size-8 md:size-10" />
    </div>
    <div class="hidden w-1/2 rounded-lg border shadow lg:flex">
        <TwitchEmbed client:load />
    </div>
</div>
